.Products {
  text-align: left;
  border-color: #d9d9d9;
  flex: 7;
  padding: 8px;
}

.button-add {
  float:right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
